{% extends 'emty_base.html' %}
{% load static %}
{% block title %}
    404
{% endblock %}
{% block content %}
   <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The page you are looking for doesn't exist.</h2>
        <a class="btn" href="index.html">Back to home</a>
        <div class="credits">Designed by elkadymohammed01
        </div>
      </section>

    </div>
  </main>
{% endblock %}