{% extends 'emty_base.html' %}
{% load static %}
{% block title %}
    404
{% endblock %}
{% block content %}
   <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <a class="btn" href="">Back to home</a>
        <img src="{% static 'images/success.gif' %}" class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
          Designed by elkadymohammed01
        </div>
      </section>

    </div>
  </main>
{% endblock %}