{% extends 'base.html' %}
{% load static %}
{% block title %}
    Mange Items
{% endblock %}

{% block title_bar %}
    Items / Mange Items
{% endblock %}
{% block content %}
    <div>
        <div class="card m-2">
            <form id="form-add-nav" class=" m-3" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="row text-center w-100 p-2">
                    <button type="submit" class="btn btn-primary w-25">Update Item</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}